<a href="https://colab.research.google.com/github/kajalpanda1/ML-Assignments/blob/master/GradientBoostingRegression_Boston.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn import datasets
from sklearn.metrics import mean_squared_error
from sklearn import ensemble

In [2]:
boston=datasets.load_boston()
print(boston.data.shape,boston.target.shape)
print(boston.feature_names)

(506, 13) (506,)
['CRIM' 'ZN' 'INDUS' 'CHAS' 'NOX' 'RM' 'AGE' 'DIS' 'RAD' 'TAX' 'PTRATIO'
 'B' 'LSTAT']

In [3]:
data=pd.DataFrame(boston.data,columns=boston.feature_names)
data=pd.concat([data,pd.Series(boston.target,name='MEDV')],axis=1)
data.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...    TAX  PTRATIO       B  LSTAT  MEDV
0  0.00632  18.0   2.31   0.0  0.538  ...  296.0     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07   0.0  0.469  ...  242.0     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07   0.0  0.469  ...  242.0     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18   0.0  0.458  ...  222.0     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18   0.0  0.458  ...  222.0     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [4]:
x=data.iloc[:,:-1]
y=data.iloc[:,-1]

In [5]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [6]:
# Fit regression model
params={'n_estimators': 600,'max_depth': 6,'min_samples_split': 2, 'learning_rate':0.01}
model=ensemble.GradientBoostingRegressor(**params)
model.fit(x_train,y_train)

GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='friedman_mse',
                          init=None, learning_rate=0.01, loss='ls', max_depth=6,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=600,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=None, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [9]:
from sklearn.metrics import mean_squared_error, r2_score
model_score=model.score(x_train,y_train)
print(model_score*100)

99.82994749455565

In [10]:
y_pred=model.predict(x_test)
print("Mean squared error: %.2f"% mean_squared_error(y_test,y_pred))
print('Test Variance score: %.2f' % r2_score(y_test,y_pred))

Mean squared error: 4.62
Test Variance score: 0.94