<a href="https://colab.research.google.com/github/kajalpanda1/ML-Assignments/blob/master/LinearRegression_Diabetes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import matplotlib.pylab as plt
import numpy as np
%matplotlib inline
from sklearn.linear_model import LinearRegression
from sklearn import datasets

In [ ]:
import pandas as pd
diabetes=datasets.load_diabetes()
diabetesdf=pd.DataFrame(diabetes.data,columns=diabetes.feature_names)

In [ ]:
type(diabetes)

sklearn.utils.Bunch

In [ ]:
diabetesdf.shape

(442, 10)

In [ ]:
diabetesdf.columns # column names

Index(['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6'], dtype='object')

In [ ]:
from sklearn.decomposition import PCA
pca=PCA(5)
components=pca.fit_transform(diabetesdf)
pca.explained_variance_

array([0.0091252 , 0.00338394, 0.00273461, 0.00216661, 0.00150155])

In [ ]:
pcadf=pd.DataFrame(pca.components_, columns=diabetesdf.columns,index = ['PC-1','PC-2','PC-3','PC-4','PC-5'])
pcadf

           age       sex       bmi  ...        s4        s5        s6
PC-1  0.216431  0.186967  0.303162  ...  0.428833  0.378617  0.322183
PC-2  0.044372 -0.386548 -0.156281  ... -0.068184 -0.026189 -0.084947
PC-3  0.494668 -0.106858  0.167532  ... -0.380681  0.063632  0.276843
PC-4 -0.414009 -0.679861  0.499825  ...  0.007921  0.264427  0.087086
PC-5 -0.686864  0.373456  0.129359  ... -0.143644 -0.151661  0.031388

[5 rows x 10 columns]

In [ ]:
diabetes_scaled=diabetesdf[['s1','s2','s4','s5','s6']]

In [ ]:
diabetes_scaled

           s1        s2        s4        s5        s6
0   -0.044223 -0.034821 -0.002592  0.019908 -0.017646
1   -0.008449 -0.019163 -0.039493 -0.068330 -0.092204
2   -0.045599 -0.034194 -0.002592  0.002864 -0.025930
3    0.012191  0.024991  0.034309  0.022692 -0.009362
4    0.003935  0.015596 -0.002592 -0.031991 -0.046641
..        ...       ...       ...       ...       ...
437 -0.005697 -0.002566 -0.002592  0.031193  0.007207
438  0.049341  0.079165  0.034309 -0.018118  0.044485
439 -0.037344 -0.013840 -0.011080 -0.046879  0.015491
440  0.016318  0.015283  0.026560  0.044528 -0.025930
441  0.083740  0.027809 -0.039493 -0.004220  0.003064

[442 rows x 5 columns]

In [ ]:
from sklearn.model_selection import train_test_split
trainset,testset= train_test_split(diabetes_scaled, test_size=0.2, random_state=0)

In [ ]:
trainset

          age       sex       bmi  ...        s4        s5        s6
74   0.012648  0.050680  0.002417  ... -0.039493  0.003712  0.073480
26  -0.107226 -0.044642 -0.077342  ... -0.076395 -0.042572 -0.005220
45   0.027178  0.050680 -0.035307  ... -0.002592 -0.014956 -0.050783
389 -0.005515  0.050680  0.001339  ... -0.039493 -0.041180 -0.088062
154  0.067136  0.050680  0.020739  ... -0.002592  0.008640  0.003064
..        ...       ...       ...  ...       ...       ...       ...
323  0.070769  0.050680 -0.007284  ...  0.108111  0.129019  0.056912
192  0.056239  0.050680 -0.030996  ... -0.039493 -0.029528 -0.059067
117  0.059871 -0.044642 -0.021295  ...  0.071210  0.079121  0.135612
47  -0.078165 -0.044642 -0.073030  ... -0.039493 -0.018118 -0.083920
172  0.041708  0.050680  0.071397  ...  0.034309  0.073410  0.085907

[353 rows x 10 columns]

In [ ]:
model = LinearRegression()
model.fit(trainset, testset)
model.coef_

ValueError: ignored